.patient-wrap {
  background-image: url(../images/background-patient.png);
  background-position: center center;
}

.patient-wrap .patient-box .patient-container .image-conteiner {
  display: table;
  float: left;
  width: 500px img;
  width-display: table-cell;
  width-vertical-align: middle;
}

.patient-wrap .patient-box .patient-container .subtext-conteiner .list-number {
  font-size: 32px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  color: #2b2b2b;
}

.patient-wrap .patient-box .patient-container .subtext-conteiner .list-number span {
  color: #eb253c;
  font-size: 44px;
}

.patient-wrap .patient-box .patient-container .subtext-conteiner .list-for-standart ol:before {
  content: '';
  background-image: url(url();
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
