/*clients*/
.title-wrap.clients .title-wrap-main {
  padding: 39px 0 32px 0;
}

.title-wrap.clients:before {
  background-image: url("../images/support-title.jpg");
}

.client-wrapp a {
  outline: 0;
}

.client-wrapp .client-align .slider-box-clients {
  padding-top: 70px;
}

.client-wrapp .client-align .slider-box-clients .slider-client {
  -webkit-box-shadow: 0 0 28px 10px #f8f8f8;
  -moz-box-shadow: 0 0 28px 10px #f8f8f8;
  box-shadow: 0 0 28px 10px #f8f8f8;
  padding: 85px 118px 68px 118px;
  text-align: justify;
}

.client-wrapp .client-align .slider-box-clients .slider-client .slider-client-item {
  display: inline-block;
  padding: 0 11px 0;
}

.client-wrapp .client-align .slider-box-clients .slider-client .slider-client-item:focus {
  outline: 0;
}

.client-wrapp .client-align .slider-box-clients .slider-client .slick-next {
  right: 34px;
}

.client-wrapp .client-align .slider-box-clients .slider-client .slick-prev {
  left: 34px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.client-wrapp .client-align .slider-box-clients .slider-client .slick-arrow {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 43%;
  cursor: pointer;
}

.client-wrapp .client-align .slider-box-clients .slider-client .slick-arrow:focus {
  outline: 0;
}

.client-wrapp .client-align .slider-box-clients .slider-client .slick-arrow:before {
  content: "";
  width: 31px;
  height: 31px;
  border: 2px solid #bbb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
}

.client-wrapp .client-align .slider-box-clients .slider-client .slick-arrow:after {
  content: "";
  width: 9px;
  height: 9px;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  display: block;
  position: absolute;
  top: 13px;
  left: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.client-wrapp .client-align span {
  font: 100 28px 'ProximaNova',sans-serif;
  color: #262626;
}

.client-wrapp .client-align .slider-box-comment {
  text-align: center;
  padding: 91px 200px 0 203px;
}

.client-wrapp .client-align .slider-box-comment .slick-next {
  right: -67px;
}

.client-wrapp .client-align .slider-box-comment .slick-prev {
  left: -67px;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.client-wrapp .client-align .slider-box-comment .slick-arrow {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 90px;
  cursor: pointer;
}

.client-wrapp .client-align .slider-box-comment .slick-arrow:focus {
  outline: 0;
}

.client-wrapp .client-align .slider-box-comment .slick-arrow:before {
  content: "";
  width: 31px;
  height: 31px;
  border: 2px solid #bbb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
}

.client-wrapp .client-align .slider-box-comment .slick-arrow:after {
  content: "";
  width: 9px;
  height: 9px;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  display: block;
  position: absolute;
  top: 13px;
  left: 10px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-title {
  padding-bottom: 64px;
  padding-left: 58px;
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-title span {
  text-transform: uppercase;
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-content:focus {
  outline: 0;
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-content .comment-img {
  float: left;
  padding-top: 8px;
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-content .comment-img .round {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-content .comment-img .round img {
  max-width: none;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-content .comment-text {
  text-align: left;
  margin-left: 166px;
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-content .comment-text .text-title span {
  font: 700 22px 'MuseoSans',sans-serif;
  letter-spacing: -0.4rem;
  word-spacing: 1px;
  color: #272727;
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-content .comment-text .text-mini-title {
  padding-top: 3px;
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-content .comment-text .text-mini-title span {
  font: 500 14px 'MuseoSans',sans-serif;
  color: #272727;
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-content .comment-text .text-box {
  padding-top: 16px;
}

.client-wrapp .client-align .slider-box-comment .comment-align .comment-content .comment-text .text-box span {
  font: 400 18px 'ProximaNova',sans-serif;
  color: #919191;
  line-height: 31rem;
}

.client-wrapp .client-align .slider-box-comment .comment-align .slick-dots {
  padding-top: 27px;
}

.client-wrapp .client-align .slider-box-comment .comment-align .slick-dots li {
  display: inline-block;
}

.client-wrapp .client-align .slider-box-comment .comment-align .slick-dots li button {
  background-color: transparent;
  border: none;
  font-size: 0;
  position: relative;
  width: 15px;
  height: 15px;
}

.client-wrapp .client-align .slider-box-comment .comment-align .slick-dots li button:focus {
  outline: 0;
}

.client-wrapp .client-align .slider-box-comment .comment-align .slick-dots li button:before {
  content: "";
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #bbb;
  display: block;
  position: absolute;
  top: -webkit-calc(50% - 2px);
  top: -moz-calc(50% - 2px);
  top: calc(50% - 2px);
  left: -webkit-calc(50% - 2px);
  left: -moz-calc(50% - 2px);
  left: calc(50% - 2px);
}

.client-wrapp .client-align .slider-box-comment .comment-align .slick-dots .slick-active button:before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #cf1628;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: -webkit-calc(50% - 4px);
  top: -moz-calc(50% - 4px);
  top: calc(50% - 4px);
  left: -webkit-calc(50% - 4px);
  left: -moz-calc(50% - 4px);
  left: calc(50% - 4px);
}

.client-wrapp .client-align .simple-box {
  padding: 79px 0 0;
  text-align: center;
}

.client-wrapp .client-align .simple-box .simple-title-box {
  padding-bottom: 48px;
}

.client-wrapp .client-align .simple-box .simple-title-box .small-title span {
  font-size: 18px;
  letter-spacing: 3px;
  color: #919191;
  text-transform: uppercase;
}

.client-wrapp .client-align .simple-box .simple-title-box .big-title {
  padding-top: 5px;
}

.client-wrapp .client-align .simple-box .simple-title-box .big-title span {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.client-wrapp .client-align .simple-box .shadow-box {
  -webkit-box-shadow: 0 0 28px 10px #f8f8f8;
  -moz-box-shadow: 0 0 28px 10px #f8f8f8;
  box-shadow: 0 0 28px 10px #f8f8f8;
  width: 100%;
  padding-top: 69px;
  margin-bottom: 116px;
}

.client-wrapp .client-align .simple-box .shadow-box .text-content-box {
  padding: 0 6.5% 39px 8.5%;
}

.client-wrapp .client-align .simple-box .shadow-box .text-content-box .text-content {
  text-align: left;
  width: 41%;
}

.client-wrapp .client-align .simple-box .shadow-box .text-content-box .text-content .title {
  padding-bottom: 36px;
}

.client-wrapp .client-align .simple-box .shadow-box .text-content-box .text-content .title span {
  letter-spacing: -0.3rem;
}

.client-wrapp .client-align .simple-box .shadow-box .text-content-box .text-content .text-block {
  padding-bottom: 34px;
  margin-bottom: 0;
}

.client-wrapp .client-align .simple-box .shadow-box .text-content-box .text-content .text-block span {
  font: 400 24px 'ProximaNova',sans-serif;
  line-height: 34px;
}

.client-wrapp .client-align .simple-box .shadow-box .text-content-box .text-content .text-block span i {
  color: #eb253c;
  letter-spacing: 0.3rem;
  font-weight: lighter;
}

.client-wrapp .client-align .simple-box .shadow-box .left {
  float: left;
}

.client-wrapp .client-align .simple-box .shadow-box .right {
  float: right;
}

.client-wrapp .client-align .simple-box .shadow-box .diag-block {
  padding: 0 0 58px 102px;
  text-align: left;
}

.client-wrapp .client-align .simple-box .shadow-box .diag-block .item-diag {
  display: inline-block;
  margin-right: 46px;
  vertical-align: top;
  padding-top: 29px;
}

.client-wrapp .client-align .simple-box .shadow-box .diag-block .item-diag .diag-img {
  float: left;
}

.client-wrapp .client-align .simple-box .shadow-box .diag-block .item-diag .diag-text-block {
  margin-left: 125px;
  margin-top: -8px;
  width: 200px;
}

.client-wrapp .client-align .simple-box .shadow-box .diag-block .item-diag .diag-text-block .diag-title {
  margin-bottom: -1px;
}

.client-wrapp .client-align .simple-box .shadow-box .diag-block .item-diag .diag-text-block .diag-title span {
  font: 400 30.62rem 'ProximaNova',sans-serif;
}

.client-wrapp .client-align .simple-box .shadow-box .diag-block .item-diag .diag-text-block .diag-text span {
  font: 400 20.42rem 'ProximaNova',sans-serif;
  color: #919191;
  line-height: 29rem;
}

.client-wrapp .client-align .simple-box .shadow-box .diag-block .item-diag:nth-child(2) {
  padding-top: 0;
  margin-right: 24px;
}

.client-wrapp .client-align .simple-box .shadow-box .diag-block .item-diag:nth-child(2) .diag-text-block {
  width: 215px;
  margin-left: 63px;
}

.client-wrapp .client-align .simple-box .shadow-box .diag-block .item-diag:nth-child(3) {
  margin-right: 0px;
  padding-top: 39px;
}

.client-wrapp .client-align .simple-box .shadow-box .diag-block .item-diag:nth-child(3) .diag-text-block {
  width: 215px;
  margin-left: 63px;
}

/*/clients*/
/*Nachrichten*/
.title-wrap.nachrichten .title-wrap-main {
  padding: 39px 0 32px 0;
}

.title-wrap.nachrichten:before {
  background-image: url("../images/nachrichtent-title.jpg");
}

.nr-wrapp .nr-align .text-block {
  padding: 40px 200px 0 170px;
}

.nr-wrapp .nr-align .text-block span {
  font: normal 18px 'ProximaNova-Semibold',sans-serif;
  color: #262626;
  display: inline-block;
  line-height: 38rem;
  letter-spacing: 0.3rem;
}

.nr-wrapp .nr-align .text-block span.title-block {
  font-size: 24px;
  padding-bottom: 41px;
  line-height: 34rem;
}

.nr-wrapp .nr-align .text-block span.botline {
  width: 100%;
  padding: 31px 0 37px;
}

.nr-wrapp .nr-align .text-block span.botline i {
  width: 30px;
  height: 5px;
  background-color: #e2253b;
  display: block;
}

.nr-wrapp .nr-align .text-block span.li-title {
  font: 100 24px 'ProximaNova',sans-serif;
  color: #e2253b;
}

.nr-wrapp .nr-align .text-block ul {
  padding: 16px 0 30px 12px;
}

.nr-wrapp .nr-align .text-block ul li {
  position: relative;
  padding-bottom: 17px;
}

.nr-wrapp .nr-align .text-block ul li:before {
  content: '';
  width: 2px;
  height: 2px;
  border: 1px solid #333;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 10px;
  left: -10px;
  background-color: #333;
}

.nr-wrapp .nr-align .text-block ul li p {
  font: normal 18px 'ProximaNova-Semibold',sans-serif;
  color: #262626;
  font-weight: bolder;
  letter-spacing: -0.6rem;
}

.nr-wrapp .nr-align .interest .interest-title {
  padding: 89px 0 0 5px;
}

.nr-wrapp .nr-align .interest .interest-title span {
  font: 100 24px 'ProximaNova',sans-serif;
  color: #262626;
}

/*/Nachrichten*/
/*intro*/
.title-wrap.intro .title-wrap-main {
  padding: 39px 0 29px 0;
}

.title-wrap.intro:before {
  background-image: url("../images/nachrichtent-title.jpg");
}

.intro-wrapp {
  position: relative;
}

.intro-wrapp span {
  font: 100 16px 'ProximaNova',sans-serif;
  color: #262626;
}

.intro-wrapp:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/introduction-bg.jpg);
  top: -464px;
}

.intro-wrapp .intro-align .top-text-block {
  text-align: center;
  padding: 119px 0 67px;
}

.intro-wrapp .intro-align .top-text-block span {
  display: inline-block;
  width: 100%;
}

.intro-wrapp .intro-align .top-text-block span i {
  width: 100%;
  display: inline-block;
  font-weight: 100;
  line-height: 18px;
  font-size: 16px;
  color: #eb253c;
  letter-spacing: 4rem;
}

.intro-wrapp .intro-align .top-text-block span p {
  width: 100%;
  display: inline-block;
  color: #262626;
  letter-spacing: -0.13rem;
}

.intro-wrapp .intro-align .top-text-block span:nth-child(1) {
  font-size: 50px;
  font-family: 'ProximaNova-Semibold';
  line-height: 1px;
  padding-bottom: 23px;
}

.intro-wrapp .intro-align .top-text-block span:nth-child(2) {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  width: 630px;
  padding-bottom: 21px;
}

.intro-wrapp .intro-align .top-text-block span:nth-child(3) {
  color: #919191;
  letter-spacing: -0.04rem;
  width: 627px;
  line-height: 31px;
}

.intro-wrapp .intro-align .circle-block {
  text-align: center;
}

.intro-wrapp .intro-align .circle-block .circle-title span {
  font-size: 28px;
}

.intro-wrapp .intro-align .circle-block .circle-items-wrapp {
  text-align: justify;
  padding: 75px 58px 0;
}

.intro-wrapp .intro-align .circle-block .circle-items-wrapp .circl-item {
  width: 240px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.intro-wrapp .intro-align .circle-block .circle-items-wrapp .circl-item .item-img {
  margin-bottom: 35px;
}

.intro-wrapp .intro-align .circle-block .circle-items-wrapp .circl-item .item-title {
  padding-bottom: 10px;
}

.intro-wrapp .intro-align .circle-block .circle-items-wrapp .circl-item .item-title span {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: -0.2rem;
}

.intro-wrapp .intro-align .circle-block .circle-items-wrapp .circl-item .title-text span {
  font-weight: 400;
  color: #797f87;
  line-height: 22px;
}

.intro-wrapp .intro-align .map-block {
  position: relative;
  padding-bottom: 140px;
}

.intro-wrapp .intro-align .map-block .back {
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 78px;
}

.intro-wrapp .intro-align .map-block .map-align {
  z-index: 10;
  position: relative;
  padding: 99px 67px 0 100px;
}

.intro-wrapp .intro-align .map-block .map-align .left-box {
  float: left;
  text-align: left;
  padding-top: 250px;
}

.intro-wrapp .intro-align .map-block .map-align .left-box .text-blocker span {
  font-family: 'ProximaNova-RegularItalic';
  font-size: 16px;
  line-height: 21px;
}

.intro-wrapp .intro-align .map-block .map-align .left-box .bttn-box {
  padding-top: 51px;
}

.intro-wrapp .intro-align .map-block .map-align .left-box .bttn-box .bttn-text {
  width: 362px;
  height: 62px;
  background-color: #2b2b2b;
  border: 4px solid #2b2b2b;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  text-align: center;
  display: block;
  text-decoration: none;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

.intro-wrapp .intro-align .map-block .map-align .left-box .bttn-box .bttn-text span {
  font-family: 'ProximaNova-Semibold';
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  line-height: 18px;
  padding-top: 22px;
  display: block;
  letter-spacing: -0.1rem;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

.intro-wrapp .intro-align .map-block .map-align .left-box .bttn-box .bttn-text:hover {
  background-color: #fff;
}

.intro-wrapp .intro-align .map-block .map-align .left-box .bttn-box .bttn-text:hover span {
  color: #2b2b2b;
}

.intro-wrapp .intro-align .map-block .map-align .right-box {
  float: right;
  text-align: right;
}

.intro-wrapp .intro-align .map-block .map-align .right-box .red-text {
  padding-bottom: 41px;
}

.intro-wrapp .intro-align .map-block .map-align .right-box .red-text span {
  color: #eb253c;
  font-size: 22px;
  line-height: 21px;
}

.intro-wrapp .intro-align .map-block .map-align .right-box .black-text span {
  font-size: 42px;
  line-height: 40px;
}

/*/intro*/
