/* header */
.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.header-navigation {
  font-size: 14rem;
  font-weight: bold;
  float: right;
  padding-top: 41px;
}

.header-navigation ul {
  list-style-type: none;
}

.header-navigation li {
  float: left;
  margin-left: 27px;
}

.header-navigation li:hover a {
  opacity: .7;
}

.header-navigation a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.header-wrap {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(25%, #fcfcfc), color-stop(50%, #f6f6f6), color-stop(75%, #f0f0f0), to(#f0f0f0));
  background: -webkit-linear-gradient(left, #ffffff 0%, #fcfcfc 25%, #f6f6f6 50%, #f0f0f0 75%, #f0f0f0 100%);
  background: -moz-linear-gradient(left, #ffffff 0%, #fcfcfc 25%, #f6f6f6 50%, #f0f0f0 75%, #f0f0f0 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #fcfcfc 25%, #f6f6f6 50%, #f0f0f0 75%, #f0f0f0 100%);
  background: linear-gradient(to right, #ffffff 0%, #fcfcfc 25%, #f6f6f6 50%, #f0f0f0 75%, #f0f0f0 100%);
  padding-bottom: 23px;
}

.header-wrap .header-logo {
  float: left;
  padding-top: 7px;
}

/* /header */
/* slider */
.main_slider {
  height: -webkit-calc(100vh - 89rem);
  height: -moz-calc(100vh - 89rem);
  height: calc(100vh - 89rem);
  -webkit-transition: height 300ms ease;
  -moz-transition: height 300ms ease;
  -o-transition: height 300ms ease;
  transition: height 300ms ease;
  overflow: hidden;
}

.main_slider_wrap {
  position: relative;
}

.main_slider_wrap:after {
  position: absolute;
  left: 50%;
  bottom: 102px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 48px;
  width: 48px;
  content: '';
  background: url("../images/scroll_mause.png") center center no-repeat;
}

.main_slider_wrap .slick-slide {
  outline: none;
  max-height: 100vh;
}

.main_slider_wrap .slick-slide img {
  min-height: 100vh;
}

/* /slider */
/* top-line */
.top_line {
  background-color: #2e2e2e;
  padding: 21px 0px 21px;
}

.top_line .top_line_wrap ul {
  display: table;
  width: 100%;
}

.top_line .top_line_wrap li {
  display: table-cell;
  vertical-align: middle;
}

.top_line .top_line_wrap li:hover a {
  opacity: 1;
}

.top_line .top_line_wrap a {
  text-decoration: none;
  opacity: .41;
  -webkit-transition: opacity ease-out .3s;
  -moz-transition: opacity ease-out .3s;
  -o-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.top_line .top_line_wrap span {
  font-size: 24rem;
  color: #eb253c;
  text-transform: uppercase;
}

/* top-line */
/* top text */
.text-top {
  position: relative;
  z-index: 1;
  -webkit-transition: margin 300ms ease;
  -moz-transition: margin 300ms ease;
  -o-transition: margin 300ms ease;
  transition: margin 300ms ease;
  background-color: #fff;
}

.top_text .top_text_wrap {
  text-align: center;
  padding: 75px 0px;
}

.top_text .top_text_wrap h5 {
  color: #262626;
  font-size: 38rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 43rem;
}

.top_text .top_text_wrap .title-bottom {
  font-family: 'Anglecia';
  font-weight: 500;
  font-style: italic;
  font-size: 19rem;
  padding-top: 27px;
}

.top_text .top_text_wrap .title-bottom span {
  font-size: 28rem;
  color: #eb253c;
}

.top_text .top_text_wrap .title-bottom b {
  font-weight: 700;
  font-style: italic;
}

.top_text .top_text_wrap .title-bottom p {
  line-height: 28rem;
}

/* /top text */
/* footer */
.footer {
  background: url(../images/footer_bg.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 47px;
  padding-bottom: 55px;
}

.footer .footer_aside {
  float: left;
}

.footer .footer_aside.side_1 {
  width: 40%;
}

.footer .footer_aside.side_2 {
  width: 60%;
}

.footer .footer-logo {
  -moz-text-align-last: auto;
  text-align-last: auto;
}

.footer .footer-logo a {
  display: block;
}

.footer .footer-logo div {
  float: left;
}

.footer .footer-logo p {
  font-size: 10rem;
  color: #797f87;
  text-transform: uppercase;
}

.footer .footer-logo .logo-text {
  padding-top: 17px;
  padding-left: 24px;
}

.footer .footer_navigation .header-navigation {
  padding-top: 11px;
}

.footer .footer_navigation .header-navigation a {
  color: #797f87;
}

.footer .footer_addres {
  font-size: 15rem;
  padding-top: 32px;
}

.footer .footer_addres .footer_tel .icon_tel {
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 10px;
  background: url(../images/footer_tel.png) center center no-repeat;
}

.footer .footer_addres .footer_tel a {
  font-weight: 800;
  text-decoration: none;
  color: #c9cfd8;
  padding-left: 14px;
}

.footer .footer_addres .footer_mail {
  padding-top: 14px;
}

.footer .footer_addres .footer_mail .icon_mail {
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 14px;
  background: url(../images/footer_mail.png) center center no-repeat;
}

.footer .footer_addres .footer_mail a {
  color: #eb253c;
  text-decoration: none;
  padding-left: 9px;
}

.footer .footer_addres .copyr {
  padding-top: 31px;
}

.footer .footer_social {
  float: right;
  padding-top: 105px;
  width: 100%;
}

.footer .footer_social li {
  float: right;
  margin-left: 8px;
}

.footer .footer_social li a {
  opacity: .4;
  -webkit-transition: opacity ease .3s;
  -moz-transition: opacity ease .3s;
  -o-transition: opacity ease .3s;
  transition: opacity ease .3s;
}

.footer .footer_social li:hover a {
  opacity: 1;
}

.footer .created_by {
  padding-top: 32px;
  float: right;
}

.footer .created_by a {
  color: #797f87;
  font-size: 12rem;
  text-decoration: none;
}

.footer .created_by span {
  text-transform: uppercase;
}

/* /footer */
