.style-wrap-box .patient-box .patient-container .image-conteiner {
  display: inline-block;
  width: 42%;
  padding-top: 150px;
  padding-bottom: 79px;
}

.style-wrap-box .patient-box .patient-container .image-conteiner img {
  margin-left: -webkit-calc(268px - 335px/2);
  margin-left: -moz-calc(268px - 335px/2);
  margin-left: calc(268px - 335px/2);
}

.style-wrap-box .patient-box .patient-container .subtext-conteiner {
  display: inline-block;
  width: 55%;
  vertical-align: top;
  position: relative;
}

.style-wrap-box .patient-box .patient-container .subtext-conteiner .list-number {
  font-size: 32px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  color: #2b2b2b;
  padding-bottom: 18px;
  padding-top: 54px;
}

.style-wrap-box .patient-box .patient-container .subtext-conteiner .list-number span {
  color: #eb253c;
  font-size: 44px;
}

.style-wrap-box .patient-box .patient-container .subtext-conteiner .patient-header {
  font-size: 44px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 500;
  color: #eb253c;
  padding-bottom: 18px;
}

.style-wrap-box .patient-box .patient-container .subtext-conteiner .text-about {
  font-size: 20px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 500;
  color: #2b2b2b;
  padding-bottom: 37px;
  text-transform: uppercase;
  padding-bottom: 37px;
}

.style-wrap-box .patient-box .patient-container .subtext-conteiner .list-for-standart {
  width: 100%;
}

.style-wrap-box .patient-box .patient-container .subtext-conteiner .list-for-standart ol li {
  list-style-type: none;
  font-size: 18px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 500;
  color: #2b2b2b;
  line-height: 26px;
  position: relative;
  counter-increment: step-counter;
  padding-left: 51px;
  padding-bottom: 28px;
}

.style-wrap-box .patient-box .patient-container .subtext-conteiner .list-for-standart ol li:after {
  content: '';
  background-color: red;
  width: 2px;
  height: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  left: 20px;
  border-style: solid;
  border-width: 9px;
  border-color: white;
  background-color: #cf1628;
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.78);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.78);
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.78);
  top: 3px;
  left: 7px;
}

.style-wrap-box .patient-box .patient-container .subtext-conteiner .list-for-standart ol li:before {
  counter-increment: subsection;
  content: counter(section) counter(step-counter) ". ";
  color: #eb253c;
}

.style-wrap-box .patient-box .patient-container .subtext-conteiner .bg-number {
  color: #ececec;
  font-size: 196px;
  font-family: "ProximaNova";
  color: rgba(0, 0, 0, 0.071);
  line-height: 0.372;
  -moz-transform: matrix(2.15596, 0, 0, 2.15295, 0, 0);
  -webkit-transform: matrix(2.15596, 0, 0, 2.15295, 0, 0);
  -ms-transform: matrix(2.15596, 0, 0, 2.15295, 0, 0);
  font-family: "ProximaNova", sans-serif;
  font-weight: 800;
  position: absolute;
  z-index: -1;
  right: 93px;
  top: 283px;
}

.style-wrap-box .patient-box .button-calc {
  margin-bottom: 102px;
}

.style-wrap-box .patient-box .button-calc .aside-sub-button .aside-sub-item .aside-sub-text {
  font-size: 24px;
  font-family: "ProximaNova", sans-serif;
  font-weight: 700;
  padding-top: 32px;
  padding-bottom: 22px;
  line-height: 1.167;
  letter-spacing: -0.8rem;
}

.style-wrap-box .patient-box .button-calc .aside-sub-button .aside-sub-item .aside-sub-button {
  width: 270px;
  margin-left: 463px;
}

.style-wrap-box .patient-box .button-calc .aside-sub-button .aside-sub-item .aside-sub-button a {
  background-color: #eb253c;
  padding: 21px 0px;
}

.style-wrap-box .patient-box .button-calc .aside-sub-button .aside-sub-item .aside-sub-button a:hover {
  background-color: black;
  color: white;
}

.controller-wrap {
  background-color: #fafafa;
}

.patient-wrap {
  background-image: url(../images/background-patient.png);
  background-position: center center;
}
