/* basic for scroll sections */
body::-webkit-scrollbar {
  display: none;
}

.main {
  position: relative;
  z-index: 0;
}

.scroll-section {
  position: relative;
  min-height: 2rem;
  overflow: hidden;
}

.scroll-section.footer {
  position: absolute;
}

.dots-parts {
  position: fixed;
  z-index: 10;
  right: 10rem;
  top: 50%;
  -webkit-transform: translate(50%, -50%);
  -moz-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  -o-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  opacity: 0;
  -webkit-transition: opacity 500ms ease, -webkit-transform 300ms ease;
  -moz-transition: opacity 500ms ease, -moz-transform 300ms ease;
  -o-transition: opacity 500ms ease, -o-transform 300ms ease;
  transition: opacity 500ms ease, transform 300ms ease;
}

.dots-parts li {
  display: block;
  width: 6rem;
  height: 6rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #c6c6c6;
  background-color: #fff;
  position: relative;
  margin-bottom: 10rem;
}

.dots-parts li:hover {
  background-color: #ccc;
  border-color: #ccc;
}

.dots-parts li:before {
  content: '';
  display: block;
  position: absolute;
  width: 150%;
  height: 150%;
  left: -25%;
  top: -25%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #cf1628;
  display: none;
}

.dots-parts li:last-child {
  margin-bottom: 0;
}

.dots-parts li.active:before {
  display: block;
}

.scrolled .dots-parts {
  opacity: 1;
  -webkit-transition: translate(0, -50%);
  -moz-transition: translate(0, -50%);
  -o-transition: translate(0, -50%);
  transition: translate(0, -50%);
}

.scrolled .dots-parts li {
  cursor: pointer;
}

.scrolled .done .dots-parts {
  opacity: 0;
  -webkit-transition: translate(50%, -50%);
  -moz-transition: translate(50%, -50%);
  -o-transition: translate(50%, -50%);
  transition: translate(50%, -50%);
}

.scrolled .done .dots-parts li {
  cursor: pointer;
}

/* /basic for scroll sections */
/* big circle */
.big-sircle {
  /*padding:  10vh 0 10vh 0;*/
  text-align: center;
  overflow: hidden;
  /*height: 100vh;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  width: 100%;
}

.big-sircle .mbox {
  display: table-cell;
  vertical-align: middle;
}

.big-circle-wrap {
  display: inline-block;
  width: 684rem;
  height: 684rem;
  position: relative;
}

.big-sircle-wrap-outside {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1rem solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: border-color 300ms ease 1600ms;
  -moz-transition: border-color 300ms ease 1600ms;
  -o-transition: border-color 300ms ease 1600ms;
  transition: border-color 300ms ease 1600ms;
}

.big-sircle-wrap-inside {
  position: absolute;
  top: 26rem;
  right: 26rem;
  bottom: 26rem;
  left: 26rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: background-color 300ms ease 1300ms, -webkit-box-shadow 300ms ease 1300ms;
  -moz-transition: background-color 300ms ease 1300ms, -moz-box-shadow 300ms ease 1300ms;
  -o-transition: background-color 300ms ease 1300ms, box-shadow 300ms ease 1300ms;
  transition: background-color 300ms ease 1300ms, box-shadow 300ms ease 1300ms;
}

.big-sircle-list {
  position: absolute;
  width: 260rem;
  font-size: 18rem;
  color: #797f87;
}

.big-sircle-list li {
  margin-bottom: 20rem;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity 300ms ease, -webkit-transform 300ms ease;
  -moz-transition: opacity 300ms ease, -moz-transform 300ms ease;
  -o-transition: opacity 300ms ease, -o-transform 300ms ease;
  transition: opacity 300ms ease, transform 300ms ease;
}

.big-sircle-list li:after {
  content: '';
  position: absolute;
  display: block;
  background-image: url(../images/circle-list-img.png);
  width: 51px;
  height: 21px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.big-sircle-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.big-sircle-list li:last-child {
  margin-bottom: 0;
}

.big-sircle-list li a {
  text-decoration: none;
  color: #797f87;
}

.big-sircle-list li a:hover .list-text {
  color: #c81526;
}

.big-sircle-list .list-text {
  display: inline-block;
  vertical-align: top;
  max-width: 230rem;
  -webkit-transition: color 300ms ease;
  -moz-transition: color 300ms ease;
  -o-transition: color 300ms ease;
  transition: color 300ms ease;
}

.big-sircle-list .list-num {
  display: inline-block;
  vertical-align: top;
  font-weight: 300;
  color: #c81526;
  width: 22rem;
}

.big-sircle-part {
  position: absolute;
}

.big-sircle-part .big-sircle-part-wrap {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 500ms ease 500ms,-webkit-transform 500ms ease 500ms;
  -moz-transition: opacity 500ms ease 500ms,-moz-transform 500ms ease 500ms;
  -o-transition: opacity 500ms ease 500ms,-o-transform 500ms ease 500ms;
  transition: opacity 500ms ease 500ms,transform 500ms ease 500ms;
}

.big-sircle-part.part-left, .big-sircle-part.part-right {
  width: 239rem;
  height: 422rem;
  top: -webkit-calc(50% - 211rem);
  top: -moz-calc(50% - 211rem);
  top: calc(50% - 211rem);
}

.big-sircle-part.part-left .big-sircle-list li:after, .big-sircle-part.part-right .big-sircle-list li:after {
  top: 1rem;
}

.big-sircle-part.part-top, .big-sircle-part.part-bottom {
  width: 422rem;
  height: 239rem;
  left: -webkit-calc(50% - 211rem);
  left: -moz-calc(50% - 211rem);
  left: calc(50% - 211rem);
}

.big-sircle-part.part-top .big-sircle-list, .big-sircle-part.part-bottom .big-sircle-list {
  width: 100%;
}

.big-sircle-part.part-top .big-sircle-list ul, .big-sircle-part.part-bottom .big-sircle-list ul {
  display: block;
  margin: 0 -100rem;
}

.big-sircle-part.part-top .big-sircle-list li, .big-sircle-part.part-bottom .big-sircle-list li {
  display: inline-block;
  max-width: -webkit-calc(33.33% - 24rem);
  max-width: -moz-calc(33.33% - 24rem);
  max-width: calc(33.33% - 24rem);
  position: relative;
  padding-right: 20rem;
  margin-left: 20rem;
}

.big-sircle-part.part-top .big-sircle-list li .list-num, .big-sircle-part.part-bottom .big-sircle-list li .list-num {
  position: absolute;
  right: 100%;
  margin-right: 5rem;
}

.big-sircle-part.part-top .big-sircle-list li:after, .big-sircle-part.part-bottom .big-sircle-list li:after {
  left: -webkit-calc(50% - 45.5rem);
  left: -moz-calc(50% - 45.5rem);
  left: calc(50% - 45.5rem);
}

.big-sircle-part.part-top .big-sircle-list li:last-child, .big-sircle-part.part-bottom .big-sircle-list li:last-child {
  padding-right: 0rem;
}

.big-sircle-part.part-top .big-sircle-list li .list-text, .big-sircle-part.part-bottom .big-sircle-list li .list-text {
  width: auto;
}

.big-sircle-part.part-left {
  left: 15rem;
}

.big-sircle-part.part-left .big-sircle-part-wrap {
  background-image: url(../images/circle-part-left.png);
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.big-sircle-part.part-left .big-sircle-list {
  right: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin-right: 92rem;
}

.big-sircle-part.part-left .big-sircle-list li {
  text-align: right;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.big-sircle-part.part-left .big-sircle-list li:nth-child(1):after {
  left: -webkit-calc(100% + 25rem);
  left: -moz-calc(100% + 25rem);
  left: calc(100% + 25rem);
}

.big-sircle-part.part-left .big-sircle-list li:nth-child(2):after {
  left: -webkit-calc(100% + 13rem);
  left: -moz-calc(100% + 13rem);
  left: calc(100% + 13rem);
}

.big-sircle-part.part-left .big-sircle-list li:nth-child(3):after {
  left: -webkit-calc(100% + 8rem);
  left: -moz-calc(100% + 8rem);
  left: calc(100% + 8rem);
}

.big-sircle-part.part-left .big-sircle-list li:nth-child(4):after {
  left: -webkit-calc(100% + 11rem);
  left: -moz-calc(100% + 11rem);
  left: calc(100% + 11rem);
}

.big-sircle-part.part-left .big-sircle-list li:nth-child(5):after {
  left: -webkit-calc(100% + 18rem);
  left: -moz-calc(100% + 18rem);
  left: calc(100% + 18rem);
}

.big-sircle-part.part-left .big-sircle-text {
  text-align: left;
}

.big-sircle-part.part-right {
  right: 15rem;
}

.big-sircle-part.part-right .big-sircle-part-wrap {
  background-image: url(../images/circle-part-right.png);
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
}

.big-sircle-part.part-right .big-sircle-list {
  left: 100%;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin-left: 94rem;
}

.big-sircle-part.part-right .big-sircle-list li {
  text-align: left;
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0);
}

.big-sircle-part.part-right .big-sircle-list li:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.big-sircle-part.part-right .big-sircle-list li:nth-child(1):after {
  right: -webkit-calc(100% + 39rem);
  right: -moz-calc(100% + 39rem);
  right: calc(100% + 39rem);
}

.big-sircle-part.part-right .big-sircle-list li:nth-child(2):after {
  right: -webkit-calc(100% + 22rem);
  right: -moz-calc(100% + 22rem);
  right: calc(100% + 22rem);
}

.big-sircle-part.part-right .big-sircle-list li:nth-child(3):after {
  right: -webkit-calc(100% + 13rem);
  right: -moz-calc(100% + 13rem);
  right: calc(100% + 13rem);
}

.big-sircle-part.part-right .big-sircle-list li:nth-child(4):after {
  right: -webkit-calc(100% + 10rem);
  right: -moz-calc(100% + 10rem);
  right: calc(100% + 10rem);
}

.big-sircle-part.part-right .big-sircle-list li:nth-child(5):after {
  right: -webkit-calc(100% + 13rem);
  right: -moz-calc(100% + 13rem);
  right: calc(100% + 13rem);
}

.big-sircle-part.part-right .big-sircle-list li:nth-child(6):after {
  right: -webkit-calc(100% + 29rem);
  right: -moz-calc(100% + 29rem);
  right: calc(100% + 29rem);
}

.big-sircle-part.part-right .big-sircle-text {
  text-align: right;
}

.big-sircle-part.part-top {
  top: 15rem;
}

.big-sircle-part.part-top .big-sircle-part-wrap {
  background-image: url(../images/circle-part-top.png);
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.big-sircle-part.part-top .big-sircle-list {
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-bottom: 81rem;
}

.big-sircle-part.part-top .big-sircle-list li {
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.big-sircle-part.part-top .big-sircle-list li:after {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.big-sircle-part.part-top .big-sircle-list li:nth-child(1):after {
  top: -webkit-calc(100% + 70rem);
  top: -moz-calc(100% + 70rem);
  top: calc(100% + 70rem);
}

.big-sircle-part.part-top .big-sircle-list li:nth-child(2):after {
  top: -webkit-calc(100% + 36rem);
  top: -moz-calc(100% + 36rem);
  top: calc(100% + 36rem);
}

.big-sircle-part.part-top .big-sircle-list li:nth-child(3):after {
  top: -webkit-calc(100% + 80rem);
  top: -moz-calc(100% + 80rem);
  top: calc(100% + 80rem);
}

.big-sircle-part.part-bottom {
  bottom: 15rem;
}

.big-sircle-part.part-bottom .big-sircle-part-wrap {
  background-image: url(../images/circle-part-bottom.png);
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%);
}

.big-sircle-part.part-bottom .big-sircle-list {
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-top: 87rem;
}

.big-sircle-part.part-bottom .big-sircle-list li {
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%);
  vertical-align: top;
}

.big-sircle-part.part-bottom .big-sircle-list li:after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.big-sircle-part.part-bottom .big-sircle-list li:nth-child(1):after {
  bottom: -webkit-calc(100% + 47px);
  bottom: -moz-calc(100% + 47px);
  bottom: calc(100% + 47px);
}

.big-sircle-part.part-bottom .big-sircle-list li:nth-child(2):after {
  bottom: -webkit-calc(100% + 24px);
  bottom: -moz-calc(100% + 24px);
  bottom: calc(100% + 24px);
}

.big-sircle-part.part-bottom .big-sircle-list li:nth-child(3):after {
  bottom: -webkit-calc(100% + 69px);
  bottom: -moz-calc(100% + 69px);
  bottom: calc(100% + 69px);
}

.big-sircle-part .big-sircle-part-item, .big-sircle-part .big-sircle-part-item-active {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.big-sircle-part .big-sircle-part-item {
  z-index: 1;
}

.big-circle-wrap-center {
  position: absolute;
  width: 158rem;
  height: 158rem;
  top: -webkit-calc(50% - 79rem);
  top: -moz-calc(50% - 79rem);
  top: calc(50% - 79rem);
  left: -webkit-calc(50% - 79rem);
  left: -moz-calc(50% - 79rem);
  left: calc(50% - 79rem);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
  -moz-box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
  box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.big-sircle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 20rem;
  color: #797f87;
  opacity: 0;
  z-index: 1;
}

.big-sircle-text span {
  font-weight: 700;
  font-size: 24rem;
}

@media screen and (max-width: 1366px) {
  .big-circle-wrap {
    -webkit-transform: scale(0.7) translate(0, -120px);
    -moz-transform: scale(0.7) translate(0, -120px);
    -ms-transform: scale(0.7) translate(0, -120px);
    -o-transform: scale(0.7) translate(0, -120px);
    transform: scale(0.7) translate(0, -120px);
  }
}

/* main circle animate */
.big-circle-wrap.began-animate .big-circle-wrap-center {
  opacity: 1;
  -webkit-animation-name: centerLight;
  -moz-animation-name: centerLight;
  -o-animation-name: centerLight;
  animation-name: centerLight;
  -webkit-animation-duration: 1500ms;
  -moz-animation-duration: 1500ms;
  -o-animation-duration: 1500ms;
  animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
}

.big-circle-wrap.began-animate .big-sircle-part.part-left .big-sircle-part-wrap, .big-circle-wrap.began-animate .big-sircle-part.part-top .big-sircle-part-wrap, .big-circle-wrap.began-animate .big-sircle-part.part-right .big-sircle-part-wrap, .big-circle-wrap.began-animate .big-sircle-part.part-bottom .big-sircle-part-wrap {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.big-circle-wrap.began-animate .big-sircle-wrap-inside {
  background-color: #fff;
  -webkit-box-shadow: 0 0 12rem 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 12rem 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 12rem 0 rgba(0, 0, 0, 0.12);
}

.big-circle-wrap.began-animate .big-sircle-wrap-outside {
  border-color: #e5e4e5;
}

.go-go .big-sircle-text {
  opacity: 1;
}

.go-go .big-sircle-part-item-active {
  opacity: 1;
}

.go-go .big-sircle-part-wrap {
  background-image: none !important;
}

.go-go.active .big-sircle-part-item {
  opacity: 1;
}

.go-go.active .big-sircle-part-item-active {
  opacity: 0;
}

.go-go.active .big-sircle-text {
  opacity: 1;
}

.go-go.active.part-top .big-sircle-list li, .go-go.active.part-bottom .big-sircle-list li, .go-go.active.part-left .big-sircle-list li, .go-go.active.part-right .big-sircle-list li {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.go-go.active.part-top .big-sircle-list li:before, .go-go.active.part-bottom .big-sircle-list li:before, .go-go.active.part-left .big-sircle-list li:before, .go-go.active.part-right .big-sircle-list li:before {
  display: none;
}

@-webkit-keyframes centerLight {
  0% {
    -webkit-box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
    box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
  }
  50% {
    -webkit-box-shadow: 0 0 6rem 0 rgba(169, 23, 38, 0.25);
    box-shadow: 0 0 6rem 0 rgba(169, 23, 38, 0.25);
  }
  100% {
    -webkit-box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
    box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
  }
}

@-moz-keyframes centerLight {
  0% {
    -moz-box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
    box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
  }
  50% {
    -moz-box-shadow: 0 0 6rem 0 rgba(169, 23, 38, 0.25);
    box-shadow: 0 0 6rem 0 rgba(169, 23, 38, 0.25);
  }
  100% {
    -moz-box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
    box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
  }
}

@-o-keyframes centerLight {
  0% {
    box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
  }
  50% {
    box-shadow: 0 0 6rem 0 rgba(169, 23, 38, 0.25);
  }
  100% {
    box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
  }
}

@keyframes centerLight {
  0% {
    -webkit-box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
    -moz-box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
    box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
  }
  50% {
    -webkit-box-shadow: 0 0 6rem 0 rgba(169, 23, 38, 0.25);
    -moz-box-shadow: 0 0 6rem 0 rgba(169, 23, 38, 0.25);
    box-shadow: 0 0 6rem 0 rgba(169, 23, 38, 0.25);
  }
  100% {
    -webkit-box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
    -moz-box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
    box-shadow: 0 0 27rem 0 rgba(169, 23, 38, 0.55);
  }
}

/* /main circle animate */
/* /big cirlce */
@media screen and (min-width: 2800px) {
  .big-circle-wrap {
    -webkit-transform: scale(0.7) translate(0, -120px);
    -moz-transform: scale(0.7) translate(0, -120px);
    -ms-transform: scale(0.7) translate(0, -120px);
    -o-transform: scale(0.7) translate(0, -120px);
    transform: scale(0.7) translate(0, -120px);
  }
}

@media screen and (min-width: 4000px) {
  .big-sircle {
    padding-top: 29vh;
  }
  .big-circle-wrap {
    -webkit-transform: scale(1) translate(0, 0);
    -moz-transform: scale(1) translate(0, 0);
    -ms-transform: scale(1) translate(0, 0);
    -o-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
  }
}

@media screen and (max-height: 975px) {
  .big-circle-wrap {
    -webkit-transform: scale(0.7) translate(0, -120px);
    -moz-transform: scale(0.7) translate(0, -120px);
    -ms-transform: scale(0.7) translate(0, -120px);
    -o-transform: scale(0.7) translate(0, -120px);
    transform: scale(0.7) translate(0, -120px);
  }
}

/* inside pages */
/* inside-header */
header.inside-page {
  position: relative;
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.08);
}

/* /inside-header */
/* color line */
.color-line {
  background-image: url(../images/color-line.png);
  background-position: center center;
  background-repeat: repeat-x;
  min-height: 156px;
}

/* /color line */
/* inside-titles */
.title-wrap {
  position: relative;
}

.title-wrap:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.title-wrap.insider:before {
  background-image: url(../images/inside-title-bg.jpg);
}

.title-wrap-main {
  background-color: rgba(43, 43, 43, 0.9);
  padding: 39px 0 28px 0;
  position: relative;
  z-index: 1;
}

.title-wrap-main.white-bg {
  background-color: transparent;
}

.title-wrap-main.white-bg .breadcrumbs span:last-child {
  color: #cacbcc;
}

.title-wrap-main.white-bg .breadcrumbs span:last-child:before {
  color: #cacbcc;
}

.breadcrumbs {
  font-size: 15rem;
  color: #4e4e4e;
  margin-bottom: 2px;
  letter-spacing: -0.5rem;
}

.breadcrumbs span {
  display: inline-block;
  margin-left: 34px;
  position: relative;
}

.breadcrumbs span:before {
  content: '-';
  display: inline-block;
  position: absolute;
  right: 100%;
  margin-right: 16px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #eb253c;
}

.breadcrumbs span:last-child:before {
  color: #4e4e4e;
}

.breadcrumbs span:first-child {
  margin-left: 0;
}

.breadcrumbs span:first-child:before {
  display: none;
}

.breadcrumbs a {
  color: #eb253c;
  text-decoration: none;
}

.title-main {
  font-size: 60px;
  color: #eb253c;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: -2.1rem;
}

/* /inside-titles */
/* calculator */
.calculator-main {
  padding-top: 8px;
  margin-bottom: 97px;
}

.calculator-wrap {
  max-width: 970px;
  width: 100%;
  margin: 0 auto 48px auto;
}

.calculator-title {
  font-size: 20rem;
  color: #262626;
  font-weight: 700;
  margin-bottom: 37px;
}

.calculator-col {
  float: left;
  text-align: left;
  width: 247px;
}

.calculator-col:nth-child(1) {
  margin-right: 114px;
}

.calculator-col:nth-child(2) {
  margin-right: 112px;
}

.calculator-col-title {
  color: #797f87;
  font-size: 18rem;
  margin-bottom: 26px;
}

.calculator-input input {
  max-width: 247px;
  width: 100%;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: transparent transparent #ec253c transparent;
  text-align: center;
  font-weight: 800;
  color: #797f87;
  font-size: 35rem;
  padding: 0 10rem 9rem 10rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.calculator-input input:focus {
  outline: none;
}

.calculator-optimization {
  max-width: 970px;
  width: 100%;
  margin: 0 auto 0 auto;
  padding: 50px 100px 70px 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  background-color: #fff;
}

.calculator-optimization-top {
  padding-bottom: 50px;
  margin-bottom: 75px;
  position: relative;
}

.calculator-optimization-top:before {
  content: '';
  position: absolute;
  width: 863px;
  height: 1px;
  background-color: #e8e9ea;
  bottom: 0;
  left: -73px;
}

.calculator-optimization-col {
  text-align: center;
  float: left;
}

.optimization-first-col {
  width: 206px;
  margin-right: 65px;
}

.optimization-second-col {
  width: 269px;
  margin-right: 68px;
}

.optimization-third-col {
  width: 162px;
}

.optimiztion-value {
  font-size: 50rem;
  color: #ee3446;
  margin-bottom: 3px;
}

.optimization-text {
  font-size: 18rem;
  color: #797f87;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56rem;
}

.optimization-bottom-text {
  font-size: 20rem;
  color: #797f87;
  letter-spacing: 11.9rem;
  text-transform: uppercase;
}

.optimization-value-wrap {
  font-size: 50rem;
  font-weight: 800;
  color: #ee3446;
  float: right;
  line-height: 14px;
}

/* /calculator */
/* product tabs */
.tabs {
  border-width: 1px 0 1px 0;
  border-style: solid;
  border-color: #f3f3f3;
}

.tabs li {
  float: left;
  height: 100px;
  width: 33.33%;
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #f3f3f3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: table;
  text-align: center;
}

.tabs li:last-child {
  border-width: 0 1px 0 1px;
}

.tabs a {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: #2b2b2b;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
}

.tabs a.active, .tabs a:hover {
  border-color: #eb253c;
  color: #eb253c;
}

.tabs-item {
  display: none;
}

.tabs-item.active {
  display: block;
}

/* /produt tabs */
/* /inside pages */
