/* helping adds*/
.clear {
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
}

.cfix:after {
  content: '';
  display: block;
  height: 0;
  font-size: 1px;
  line-height: 1px;
  overflow: hidden;
  clear: both;
}

.juster {
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.jfix-after:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.vfix {
  height: 100%;
  width: 0px;
  display: inline-block;
  vertical-align: middle;
}

.vfix-before:before {
  content: '';
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}

.zHiddenBlock {
  position: absolute;
  left: -99999em;
  top: -99999em;
}

/* /helping adds*/
/* base styles*/
html {
  height: 100%;
  font-size: 1px;
}

body {
  min-height: 100%;
  min-width: 960px;
  font-family: arial,sans-serif;
  background: #fff;
  color: #3d3d3d;
  position: relative;
}

img {
  vertical-align: bottom;
  border: 0;
  max-width: 100%;
}

/* /base styles */
/* icons styling*/
/* /icons styling*/
/* base typo*/
.ctext h1, .ctext h2, .ctext h3, .ctext h4, .ctext h5, .mainheading, .subheading, .thirdheading, .fourheading, .fiveheading {
  font-weight: normal;
  margin-bottom: 1em;
}

a {
  color: #12c;
  border: 0;
}

a:hover {
  color: #dd4b39;
}

p {
  margin: 0;
}

.ctext p {
  margin: 0 0 10px 0;
}

.ctext ul {
  margin: 10px 20px;
}

.ctext p:last-child, .ctext ul:last-child {
  margin-bottom: 0;
}

.ctext table {
  border-collapse: collapse;
}

.ctext table tr td, .ctext table {
  border: 1px solid;
}

/* /base typo*/
/* wraps styling*/
.mbox {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.mbox:after {
  content: "";
  clear: both;
  font-size: 1px;
  line-height: 1px;
  height: 0;
  overflow: hidden;
  display: block;
}

/* /wraps styling*/
/*Layout*/
.main .sidebar_w {
  width: 180px;
  float: left;
}

.main .sidebar {
  margin: 0;
}

.main .content_w {
  float: left;
  width: 820px;
}

.main .content {
  margin: 0;
}

.footer_placeholder {
  height: 200px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  color: #646464;
}

::-webkit-input-placeholder {
  color: #212121;
}

:-moz-placeholder {
  color: #212121;
}

::-moz-placeholder {
  color: #212121;
}

:-ms-input-placeholder {
  color: #212121;
}

/*End Layout*/
