/*header */

.header{position: absolute;z-index: 1;width: 100%;}
.header-navigation{font-size: 14rem;font-weight: bold;float: right;padding-top: 41px;
    ul{list-style-type: none;}
    li{float: left;margin-left: 27px;
        &:hover{
            a{opacity: .7}
        }
    }
    a{text-decoration: none;color: #000;text-transform: uppercase;}
}

.header-wrap{background:#fff;background: linear-gradient(to right, #ffffff 0%,#fcfcfc 25%,#f6f6f6 50%,#f0f0f0 75%,#f0f0f0 100%);padding-bottom: 23px;
    .header-logo{float: left;padding-top: 7px;}
}

/* /header */

/* slider */

.main_slider{/*height: calc(100vh - 89rem);*/transition:height 300ms ease;-ms-transition:height 300ms ease;overflow: hidden;}
.main_slider_wrap{position: relative;
    .slick-slider{z-index:0;}
    .mouse-scroll{position: absolute;left: 50%;bottom: 102px;transform: translateX(-50%);height: 48px;width: 48px;background: url('../images/scroll_mause.png') center center no-repeat;cursor: pointer;border-radius: 50%;overflow: hidden;z-index:1;
        &:before{content: '';position: absolute;width: 48px;height: 48px;background:url(../images/scroll_mause-hover.png);opacity: 0;transition:opacity 300ms ease;}
        &:hover:before{opacity: 1;}
    }
    .slick-slide{outline: none;max-height: 100vh;}
    .slick-slide img{/*min-height: 100vh;*/}
}
.slider-text{position: absolute;width: 100%;top: 200px;padding:10px 0 10px 0;color:#fff;text-transform: uppercase;transition:top 300ms ease;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JhMTgzYSIgc3RvcC1vcGFjaXR5PSIwLjc1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzljNjk5MSIgc3RvcC1vcGFjaXR5PSIwLjI1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ZGI5ZTgiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, rgba(186,24,58,0.75) 0%, rgba(156,105,145,0.25) 50%, rgba(125,185,232,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(186,24,58,0.75)), color-stop(50%,rgba(156,105,145,0.25)), color-stop(100%,rgba(125,185,232,0)));
    background: -webkit-linear-gradient(left, rgba(186,24,58,0.75) 0%,rgba(156,105,145,0.25) 50%,rgba(125,185,232,0) 100%);
    background: -o-linear-gradient(left, rgba(186,24,58,0.75) 0%,rgba(156,105,145,0.25) 50%,rgba(125,185,232,0) 100%);
    background: -ms-linear-gradient(left, rgba(186,24,58,0.75) 0%,rgba(156,105,145,0.25) 50%,rgba(125,185,232,0) 100%);
    background: linear-gradient(to right, rgba(186,24,58,0.75) 0%,rgba(156,105,145,0.25) 50%,rgba(125,185,232,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfba183a', endColorstr='#007db9e8',GradientType=1 );
    h6{font-weight: 700;font-size: 67px;}
    p{font-size: 23px;}
}
.show{
    .slider-text{top: 50px;}
}

/* /slider */

/* top-line */

.top_line{background-color: #2e2e2e;padding: 21px 0px 21px;
    .top_line_wrap{
        ul{display: table;width: 100%;}
        li{display: table-cell;vertical-align: middle;
            &:hover{
                a{opacity: 1;}
            }
        }
        a{text-decoration: none;opacity: .41;transition: opacity ease-out .3s;}
        span{font-size: 24rem;color: #eb253c;text-transform: uppercase;}
    }
}

/* top-line */

/* top text */
.text-top{position: relative;z-index: 1;transition:margin 300ms ease;background-color: #fff;}
.top_text{
    .top_text_wrap{text-align: center;padding: 75px 0px;
        h5{color: #262626;font-size: 38rem;max-width: 600px;margin:  0 auto;line-height: 43rem;}
        .title-bottom{font-family: 'Anglecia';font-weight: 500;font-style: italic;font-size: 19rem;padding-top: 27px;
            span{font-size: 28rem;color: #eb253c;}
            b{font-weight: 700;font-style: italic;}
            p{line-height: 28rem;}
        }
    }
}

/* /top text */

/* footer */

.footer{background: url(../images/footer_bg.jpg) center center no-repeat;background-size: cover;padding-top: 47px;padding-bottom: 55px;
    .footer_aside{float: left;
        &.side_1{width: 40%;}
        &.side_2{width: 60%;}
    }
    .footer-logo{text-align-last: auto;
        a{display: block;}
        div{float: left;}
        p{font-size: 10rem;color:#797f87;text-transform: uppercase;}
        .logo-text{padding-top: 17px;padding-left: 24px;}
    }
    .footer_navigation{
        .header-navigation{padding-top: 11px;
            a{color: #797f87;}
        }
    }
    .footer_addres{font-size: 15rem;padding-top: 32px;
        .footer_tel{
            .icon_tel{display: inline-block;vertical-align: middle;height: 16px;width: 10px;background: url(../images/footer_tel.png) center center no-repeat;}
            a{font-weight: 800;text-decoration: none;color: #c9cfd8;padding-left: 14px;}
        }
        .footer_mail{padding-top: 14px;
            .icon_mail{display: inline-block;vertical-align: middle;height: 10px;width: 14px;background: url(../images/footer_mail.png) center center no-repeat;}
            a{color: #eb253c;text-decoration: none;padding-left: 9px;}
        }
        .copyr{padding-top: 31px;}
    }
    .footer_social{float: right;padding-top: 105px;width: 100%;
        li{float: right;margin-left: 8px;
            a{opacity: .4;transition:opacity ease .3s;}
            &:hover{a{opacity: 1;}}
        }
    }
    .created_by{padding-top: 32px;float: right;
        a{color: #797f87;font-size: 12rem;text-decoration: none;}
        span{text-transform: uppercase;}
    }
}

/* /footer */

/*contact*/
.contact-wrap{height: 924px;overflow: hidden;position: relative;
    #google-map{height: 1250px; margin-top: -326px;margin-left: -192px;}
    .contact-wrap-text{}
    .contact-text{}
    .contact-top{position: absolute;bottom: 511px;right: 165px;background-color: #fff;padding: 49px 43px 49px 46px;border-radius: 16px;box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.21);
        &:after{
            content: '';position: absolute;top:0;left: 10px;border-style: solid;border-width: 0 30px 20px 0;border-color: transparent #fff transparent transparent;width: 0;height: 0;top: 45px;left: -25px;
        }
    }
    .contact-title{position: absolute;top: -888px;margin-left: -7px;}
}
.contact-top-text-desc{font-size: 18px;color: #262626;line-height: 27px;padding-bottom: 30px;padding-left: 6px;}
.contact-top-text-tel{padding: 0px 6px;
    .icon_tel{display: inline-block;vertical-align: middle;height: 26px;width: 16px;background: url(../images/contact_tel.png) center center no-repeat;margin-right: 24px;}
    a{font-size: 25px;font-weight: 900;color: #262626;text-decoration: none;vertical-align: middle;}
}
.contact-top-text-mail{padding: 13px 6px 0px;
    .icon_mail{display: inline-block;vertical-align: middle;height: 15px;width: 23px;background: url(../images/contact_mail.png) center center no-repeat;margin-right: 24px;}
    a{text-decoration: none;color: #eb253c;font-size: 25px;}
}
.contact-bottom-form{position: absolute;bottom: 0;width: 100%;max-width: 841px;right: 0;background-color: #fff;    padding: 40px 39px 36px;margin-bottom: 62px;margin-right: 166px; border-radius: 16px;box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.21);box-sizing:border-box;}
    .contact-scrolling{position: absolute;top: 0;right: 0;background-color: transparent;height: 100%;width: 20%;}
    .contact-form-title{padding-bottom: 44px;
        h5{color: #262626;font-weight: bold;text-transform: uppercase;letter-spacing: 1.6rem;
    font-size: 15px;}
    }
    .contact-form-row{padding-bottom: 49px;

    }
    .contact-form-item{float: left;width: 229px;margin-right: 28px;
        &:nth-child(1){margin-right: 37px;}
        &:nth-child(2){margin-right: 37px;}
        &:last-child{margin-right: 0;}
    }
    .contact-form-item-sur{float: left;width: 495px;margin-right: 38px;padding-top: 3px;
        textarea{width: 100%;font-size: 22px;color: #797f87;border:none;outline: none;resize:none;
        &::-webkit-input-placeholder {color:#797f87;}
        &:-moz-placeholder {color:#797f87;}
        &::-moz-placeholder {color:#797f87;}
        &:-ms-input-placeholder {color:#797f87;}
        }
        .contact-form-item-input{
            &:after{bottom: -7px;}
        }
    }
    .contact-form-item-text{padding-bottom: 34px;
        span{color: #262626;font-size: 18px;
            span{color: #ec3145;}
        }
    }
    .contact-form-item-input{position: relative;
        input{width: 100%;font-size: 22px;color: #797f87;border:none;outline: none;
            &.error{}
        }
        input::-webkit-input-placeholder {color:#797f87;}
        input:-moz-placeholder {color:#797f87;}
        input::-moz-placeholder {color:#797f87;}
        input:-ms-input-placeholder {color:#797f87;}
         &:after{position: absolute;background-color: #ec253c;height: 2px;width: 100%;left: 0;bottom: -14px;content: '';}
         .errorText{position: absolute;bottom: -40px;left: 0;color: #ec253c;}
    }
    .contact-submit{background-color: #2b2b2b;border-radius: 8px;width: 100%;margin-top: 30px;padding: 22px 0px;cursor: pointer;border:none;outline: none;transition:all ease-out .2s;
        span{font-weight: bold;font-size: 21px;color: #fff;}
        &:hover{
            background-color: #ec253c;
        }
    }

#call_success{padding: 10px;}
.call_success_text{
    h5{text-align: center;outline: none;font-size: 25px;font-weight: bold;color: #262626;padding-bottom: 20px;}
}
.call_success_subtext{text-align: center;font-size: 18px;color: #262626;}

/*/contact*/

// support page
.support-title{background-image: url('../images/support-title.jpg');height: 163px;background-position: center center;background-size: cover;background-repeat: no-repeat;position: relative;
    &:after{content: '';position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(43, 43, 43, 0.9);}
}

.support-wrap{color: #262626;font-size: 22px;
    .breadcrumbs{padding-top: 41px;}
    .support-aside-main{width: 72%;float: left;}
    .support-aside-sub{width: calc(28% - 60px);float: right;padding-top: 109px;}
    .support-aside-main-title{padding-top: 89px;padding-bottom: 46px;
        h5{font-size: 50px;font-weight: bold;letter-spacing: -1.4rem;}
    }

    .support-aside-acordion{padding-bottom: 64px;}
    .support-acordion-item{background-color: white;padding: 37px 42px;position: relative;cursor: pointer;border-radius: 28px;box-shadow: 0px 0px 12px 5px rgba(0,0,0,.12);margin-bottom: 30px;
        &:after{position: absolute;height: 33px;width: 33px;border-radius: 50%;top: 33px;right: 28px;border:2px solid #382A2D;background: url('../images/support-arrow.png') center center no-repeat;content: '';transform:rotate(0deg);transition:all ease-out .3s;}
        &.active{
            &:after{transform:rotate(-180deg);}
        }
    }
    .support-acordion-item-title{}
    .support-acordion-item-text{display: none;padding-top: 20px;cursor: default;
        p{margin-bottom: 10px;}
    }
    .support-aside-sub{}
    .aside-sub-item{margin-bottom: 79px;}
    .aside-sub-text{font-size: 24px;font-weight: bold;padding-bottom: 28px;}
    .support-bottom{float: left;width: 100%;background: url('../images/support-bg.jpg') center center no-repeat;padding-bottom: 32px;}
    .support-bottom-wrap{
        .support-bottom-title{color: white;font-size: 38px;text-align: center;padding-top: 96px;padding-bottom: 52px;
        }
        &.reverse{
            .support-aside-sub{width: calc(28% - 60px);float: left;padding-top: 0;margin-left: -4px;}
            .support-bottom-wrap-title{margin-left: 5px;letter-spacing: 1.2rem;}
            .support-aside-main{width: 72%;float: right;margin-top: 3px;margin-right: -3px;}
            .support-aside-sub,.contact-top-text-desc,.contact-top-text-tel a{color: white;}
            .support-bottom-title{}
            .support-bottom-wrap-title{padding-bottom: 46px;}
            .contact-form-title h5{font-size: 18px;letter-spacing: 0.3rem;}
            .contact-bottom-form{padding: 35px 39px 46px;}
            .contact-form-item-text {padding-bottom: 31px;}
            .contact-form-row {padding-bottom: 45px;}
        }
    }
    .contact-bottom-form{position: relative;}
    .contact-form-title h5{}
}
.aside-sub-button{text-align: center;
    &.red{
        a{background-color: #eb253c;transition:all ease-out .2s;
            &:hover{color: #eb253c;background-color: #fff;}
        }
    }
    a{text-decoration: none;width: 100%;display: inline-block;padding: 25px 0px;text-transform: uppercase;font-size: 17px;background-color: #2b2b2b;color: white;border-radius:10px;transition:all ease-out .2s;
        &:hover{color: #2b2b2b;background-color: #fff;}
    }

    .icon-calc{width: 19px;height: 25px;display: inline-block;vertical-align: middle;margin-right: 5px;background: url('../images/icon-calc.png') center center no-repeat;}
}

/*manynews page*/
.manynews-wrap{width: 100%;box-sizing: border-box;padding-top: 70px;}
.manynews-super-wrap{width: 100%;box-sizing: border-box;margin: 0 -15px;}
.news-item{width: 33.33%;float: left;box-sizing: border-box;margin-bottom: 30px;padding: 0 15px;position: relative;transition:all ease .1s;opacity: 0;
    &.active{opacity: 1;}
    &.big{width: 66.66%;
        .news-item-description{font-size: 28px;text-transform: none;span{font-size: 36px;}}
    }
    &:hover:not(.download-more){
        .news-item-wrap{background-color: #eb253c;}
        .news-item-show{opacity: 0;visibility: hidden;}
        .news-item-hidden{opacity: 1;visibility: visible;}

    }
    .news-item-wrap{/*background-color: white;*/height: 371px;border-radius: 7px;overflow: hidden;transition:all ease-out .2s;}
    .news-item-show{position: relative;height: 100%;transition:all ease .1s;
        &.white{.news-item-description{color: white;}}
        .news-item-img{
            img{position: absolute;top: 50%;bottom: 0;right: 0;margin: 0;max-width: 100%;max-height: 100%;transform: translate(-50%,-50%);left: 50%;}
        }
        .news-item-description{font-size: 22px;color: #262626;position: absolute;bottom: 30px;left: 38px;text-transform: uppercase;
            &:after{content: '';position: absolute;height: 5px;width: 30px;top: -30px;left: 0;background-color: #e2253b;}
        }
    }
    .news-item-hidden{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);visibility: hidden;opacity: 0;transition:all ease .2s;text-align: center;
        .news-item-hidden-text{color: white;text-transform: uppercase;font-size: 20px;margin-bottom: 28px;
            span{font-size: 27px;}
        }
        .news-item-hidden-button{
            a{text-transform: uppercase;color: #262626;text-decoration: none;display: inline-block;background-color: #fff;padding: 15px 17px;border-radius: 8px;font-weight: bold;transition:all ease .2s;border: 2px solid transparent;
                &:hover{background-color: #eb253c;color: white;border: 2px solid white;}
            }
        }
    }
}
.manynews{
    .manynews-title{background-image: url('../images/support-title.jpg');height: 163px;background-position: center center;background-size: cover;background-repeat: no-repeat;position: relative;
    &:after{content: '';position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: rgba(43, 43, 43, 0.9);}
    }
    .mbox{max-width: 1200px;}
    .download-more{position: relative;text-align: center;width: 33.33%;float: left;box-sizing: border-box;margin-bottom: 30px;padding: 0 15px;
        .news-item-wrap{/*background-color: white;*/height: 371px;}
        .download-more-button{position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);cursor: pointer;font-size: 17px;color: #313131;text-transform: uppercase;font-weight: 600;letter-spacing: 1rem;}
        .download-more-text{padding-top: 25px;}
    }
}
/*/manynews page*/


/* nachrichten page*/
.interest-content{margin: 0 -30px 70px 7px;}
.interest-content .manynews-wrap{padding-top: 45px;}
/* /nachrichten page*/