.header-wrap{background: linear-gradient(to right, #ffffff 0%,#fcfcfc 25%,#f6f6f6 50%,#f0f0f0 75%,#f0f0f0 100%);padding-bottom: 23px;
    .header-logo{float: left;padding-top: 7px;}
    .header-navigation{font-size: 14rem;font-weight: bold;float: right;padding-top: 26px;
        ul{list-style-type: none;}
        li{float: left;margin-left: 18px;
            &:hover{
                a{opacity: .7}
            }
        }
        a{text-decoration: none;color: #000;text-transform: uppercase;}
    }
}